/* 公共样式 */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
li{
  list-style: none;
}
a{
  text-decoration: none !important;
  color: black ;
}
.medder{
  width: 1200px;
  margin: 0 auto;
}
html,
body{
  width: 100%;
  height: 100%;
  background-color: #fff;
}
